[Unit]
Description=skynet web console
Documentation=https://www.skynetcp.com
Wants=network-online.target
After=network-online.target
Requires=skynet-php.service
Requires=skynet-nginx.service

[Service]
Type=oneshot
ExecStart=/bin/true
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
